<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>CrowdSubs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <script type="text/javascript" src="/static/jquery.srt.js"></script>

    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">CrowdSubs</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/">Projects</a></li>
              <li><a href="/add_project">Create</a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <p class="navbar-text pull-right">
          {% if user %}
            {{user.name}} | {{user.balance}}¢ (<a href="#">buy</a>) | <a href={{user.url}}> logout </a>
          {% else %}
            <a href={{login_url}}> Login or Register </a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
    <div class="span1">
    </div>
    <div class="span7">

      <h1> {{ title }} </h1>
      <hr>
      {{ description }}

      {% if fufiller %}
        <p> Note: This request has already been fufilled by {{fufiller}}
      {% endif %}

    </div>

    <div class="span4">

      <h3>Submissions <small>total: {{submissions|length}}</small></h3>

      <ul>
      {% for submission in submissions %}
        <li> <b> {{submission.submitter}} </b> <a href="data:text/plain;base64,{{submission.content}}"> Download </a>
        </li>
      {% endfor %}
      </ul>

      <a href='/add_submission/{{quoted_title}}'> Submit </a> an srt file for this request!

      <hr>
      
      <h3>Backers <small> total: {{total_amount_backed}}¢ </small> </h3>

      <ul>
      {% for backer in backers %}
        <li> <b> {{backer.name}} </b> backed {{backer.amount}}¢ 
      {% endfor %}
      </ul>

      <a href='/add_backing/{{quoted_title}}'> Back </a> this request!

      <hr>

      <h4> Fufill this request </h4>

      <form action="/fufill_project_post" method="post">
      <input name="title" value='{{title}}' type=hidden></input>
      <input name="chosen_user"></input>
      <p> <p> <input type="submit" value="Fufill Project"></div>
      </form>

      <hr>

    </div>
    </div>


  </body>
</html>